# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Pycharm IDE
.idea

# Pycache

__pycache__
tests/__pycache/

# Spreadsheets

.xlsx
.xls

# Remove test files

ftp/*.xls
ftp/*.xlsx
seft_files/*.xls
seft_files/*.xlsx